# Correlation Between News and Stock Movement

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
from textblob import TextBlob
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
import os
import pandas as pd

# Load the datasets from the specified folders
def load_data():
    stock_data_folder = '../data/yfinance_data/'  # Folder for stock data
    analyst_ratings_file = '../data/raw_analyst_ratings.csv'  # Path for analyst ratings
    
    stock_data = {}
    
    try:
        # Load each historical data file into a dictionary
        for file_name in os.listdir(stock_data_folder):
            if file_name.endswith('.csv'):  # Check if the file is a CSV
                ticker = file_name.split('_')[0]  # Extract ticker symbol
                stock_data[ticker] = pd.read_csv(os.path.join(stock_data_folder, file_name))
        
        # Load the analyst ratings (which includes news data)
        news_df = pd.read_csv(analyst_ratings_file)
        
        return stock_data, news_df
    except Exception as e:
        print(f"Error loading datasets: {e}")

# Load datasets
stock_data, news_df = load_data()

### Date Alignment

Convert date columns in the news DataFrame to datetime format and normalize dates to ensure alignment.

In [ ]:
try:
    # Convert the 'date' column in news_df to datetime
    news_df['date'] = pd.to_datetime(news_df['date'], errors='coerce')
    if news_df['date'].isnull().any():
        print("Warning: Some dates could not be parsed and are set to NaT.")

    for ticker in stock_data:
        stock_data[ticker]['Date'] = pd.to_datetime(stock_data[ticker]['Date'], errors='coerce')
        stock_data[ticker] = stock_data[ticker].set_index('Date').resample('D').ffill().reset_index()

except Exception as e:
    print(f"Error converting date columns: {e}")

In [28]:
print(news_df[news_df['date'].isnull()])

         Unnamed: 0                                           headline  \
10               10    30 Stocks Moving in Friday's Pre-Market Session
11               11  SVB Leerink Maintains Outperform on Agilent Te...
12               12  8 Stocks Moving In Thursday's After-Hours Session
13               13  Agilent Technologies shares are trading higher...
14               14  Agilent Technologies Q2 Adj. EPS $0.71 Beats $...
...             ...                                                ...
1407323     1413844             Top Narrow Based Indexes For August 29
1407324     1413845  Recap: Wednesday's Top Percentage Gainers and ...
1407325     1413846  UPDATE: Oppenheimer Color on China Zenix Auto ...
1407326     1413847  Oppenheimer Initiates China Zenix At Outperfor...
1407327     1413848  China Zenix Auto International Opens For Tradi...

                                                       url  \
10       https://www.benzinga.com/news/20/05/16092879/3...
11       https://www.benzinga.com/news/20/05/16092270/s...
12       https://www.benzinga.com/news/20/05/16089803/8...
13       https://www.benzinga.com/wiim/20/05/16089218/a...
14       https://www.benzinga.com/news/earnings/20/05/1...
...                                                    ...
1407323  https://www.benzinga.com/news/11/08/1888782/to...
1407324  https://www.benzinga.com/news/earnings/11/06/1...
1407325  https://www.benzinga.com/analyst-ratings/analy...
1407326  https://www.benzinga.com/analyst-ratings/price...
1407327  https://www.benzinga.com/news/ipos/11/05/10789...

                       publisher date stock
10                    Lisa Levin  NaT     A
11       vishwanath@benzinga.com  NaT     A
12                  Tyree Gorges  NaT     A
13             Benzinga Newsdesk  NaT     A
14             Benzinga Newsdesk  NaT     A
...                          ...  ...   ...
1407323            Monica Gerson  NaT    ZX
1407324             Benjamin Lee  NaT    ZX
1407325           BenzingaStaffL  NaT    ZX
1407326                Joe Young  NaT    ZX
1407327            Allie Wickman  NaT    ZX

[1351341 rows x 6 columns]

In [29]:
# Remove rows where the 'date' could not be parsed
news_df = news_df.dropna(subset=['date'])

In [30]:
news_df['date'] = pd.to_datetime(news_df['date'], errors='coerce')

In [37]:
print(news_df['date'].head(20))

0      2020-06-05 10:30:54-04:00
1      2020-06-03 10:45:20-04:00
2      2020-05-26 04:30:07-04:00
3      2020-05-22 12:45:06-04:00
4      2020-05-22 11:38:59-04:00
5      2020-05-22 11:23:25-04:00
6      2020-05-22 09:36:20-04:00
7      2020-05-22 09:07:04-04:00
8      2020-05-22 08:37:59-04:00
9      2020-05-22 08:06:17-04:00
1433   2020-06-09 10:52:15-04:00
1434   2020-06-08 11:29:29-04:00
1435   2020-06-08 10:32:42-04:00
1436   2020-06-05 07:40:08-04:00
1437   2020-06-04 14:46:13-04:00
1438   2020-06-03 10:19:06-04:00
1439   2020-05-27 10:10:20-04:00
1440   2020-05-27 07:32:46-04:00
1441   2020-05-26 07:47:48-04:00
1442   2020-05-18 10:50:11-04:00
Name: date, dtype: datetime64[ns, UTC-04:00]

In [33]:
try:
    for ticker in stock_data:
        stock_data[ticker]['Date'] = pd.to_datetime(stock_data[ticker]['Date'], errors='coerce')
        stock_data[ticker] = stock_data[ticker].dropna(subset=['Date'])
        stock_data[ticker] = stock_data[ticker].set_index('Date').resample('D').ffill().reset_index()
except Exception as e:
    print(f"Error converting date columns: {e}")

In [38]:

try:
    for ticker in stock_data:
        print(f"Columns in {ticker} before conversion: {stock_data[ticker].columns.tolist()}")
        
        print(f"\nSample 'Date' values before conversion for {ticker}:")
        print(stock_data[ticker]['Date'].head())
        
        stock_data[ticker]['Date'] = pd.to_datetime(stock_data[ticker]['Date'], errors='coerce')
        
        print(f"\nSample 'Date' values after conversion for {ticker}:")
        print(stock_data[ticker]['Date'].head())
        
        num_invalid_dates = stock_data[ticker]['Date'].isnull().sum()
        print(f"{ticker} has {num_invalid_dates} invalid dates (NaT) after conversion.")
        
        stock_data[ticker] = stock_data[ticker].dropna(subset=['Date'])
        print(f"{ticker} shape after dropping NaT: {stock_data[ticker].shape}")
        
        stock_data[ticker] = stock_data[ticker].set_index('Date').resample('D').ffill().reset_index()
        print(f"\nSample data for {ticker} after resampling:")
        print(stock_data[ticker].head())
        
except Exception as e:
    print(f"Error converting date columns: {e}")

Columns in AAPL before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for AAPL:
0   1980-12-12
1   1980-12-13
2   1980-12-14
3   1980-12-15
4   1980-12-16
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for AAPL:
0   1980-12-12
1   1980-12-13
2   1980-12-14
3   1980-12-15
4   1980-12-16
Name: Date, dtype: datetime64[ns]
AAPL has 0 invalid dates (NaT) after conversion.
AAPL shape after dropping NaT: (15937, 9)

Sample data for AAPL after resampling:
        Date      Open      High       Low     Close  Adj Close     Volume  \
0 1980-12-12  0.128348  0.128906  0.128348  0.128348   0.098943  469033600
1 1980-12-13  0.128348  0.128906  0.128348  0.128348   0.098943  469033600
2 1980-12-14  0.128348  0.128906  0.128348  0.128348   0.098943  469033600
3 1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093781  175884800
4 1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086898  105728000

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in AMZN before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for AMZN:
0   1997-05-15
1   1997-05-16
2   1997-05-17
3   1997-05-18
4   1997-05-19
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for AMZN:
0   1997-05-15
1   1997-05-16
2   1997-05-17
3   1997-05-18
4   1997-05-19
Name: Date, dtype: datetime64[ns]
AMZN has 0 invalid dates (NaT) after conversion.
AMZN shape after dropping NaT: (9939, 9)

Sample data for AMZN after resampling:
        Date      Open      High       Low     Close  Adj Close      Volume  \
0 1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1 1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
2 1997-05-17  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
3 1997-05-18  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
4 1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in GOOG before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for GOOG:
0   2004-08-19
1   2004-08-20
2   2004-08-21
3   2004-08-22
4   2004-08-23
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for GOOG:
0   2004-08-19
1   2004-08-20
2   2004-08-21
3   2004-08-22
4   2004-08-23
Name: Date, dtype: datetime64[ns]
GOOG has 0 invalid dates (NaT) after conversion.
GOOG shape after dropping NaT: (7286, 9)

Sample data for GOOG after resampling:
        Date      Open      High       Low     Close  Adj Close     Volume  \
0 2004-08-19  2.490664  2.591785  2.390042  2.499133   2.496292  897427216
1 2004-08-20  2.515820  2.716817  2.503118  2.697639   2.694573  458857488
2 2004-08-21  2.515820  2.716817  2.503118  2.697639   2.694573  458857488
3 2004-08-22  2.515820  2.716817  2.503118  2.697639   2.694573  458857488
4 2004-08-23  2.758411  2.826406  2.716070  2.724787   2.721690  366857939

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in META before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for META:
0   2012-12-12
1   2012-12-13
2   2012-12-14
3   2012-12-15
4   2012-12-16
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for META:
0   2012-12-12
1   2012-12-13
2   2012-12-14
3   2012-12-15
4   2012-12-16
Name: Date, dtype: datetime64[ns]
META has 0 invalid dates (NaT) after conversion.
META shape after dropping NaT: (4249, 9)

Sample data for META after resampling:
        Date   Open       High        Low      Close  Adj Close    Volume  \
0 2012-12-12  28.00  28.139999  27.370001  27.580000  27.523441  46704200
1 2012-12-13  27.59  28.750000  27.430000  28.240000  28.182087  81051600
2 2012-12-14  28.18  28.330000  26.760000  26.809999  26.755020  91631600
3 2012-12-15  28.18  28.330000  26.760000  26.809999  26.755020  91631600
4 2012-12-16  28.18  28.330000  26.760000  26.809999  26.755020  91631600

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in MSFT before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for MSFT:
0   1986-03-13
1   1986-03-14
2   1986-03-15
3   1986-03-16
4   1986-03-17
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for MSFT:
0   1986-03-13
1   1986-03-14
2   1986-03-15
3   1986-03-16
4   1986-03-17
Name: Date, dtype: datetime64[ns]
MSFT has 0 invalid dates (NaT) after conversion.
MSFT shape after dropping NaT: (14020, 9)

Sample data for MSFT after resampling:
        Date      Open      High       Low     Close  Adj Close      Volume  \
0 1986-03-13  0.088542  0.101563  0.088542  0.097222   0.059946  1031788800
1 1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062087   308160000
2 1986-03-15  0.097222  0.102431  0.097222  0.100694   0.062087   308160000
3 1986-03-16  0.097222  0.102431  0.097222  0.100694   0.062087   308160000
4 1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063158   133171200

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in NVDA before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for NVDA:
0   1999-01-22
1   1999-01-23
2   1999-01-24
3   1999-01-25
4   1999-01-26
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for NVDA:
0   1999-01-22
1   1999-01-23
2   1999-01-24
3   1999-01-25
4   1999-01-26
Name: Date, dtype: datetime64[ns]
NVDA has 0 invalid dates (NaT) after conversion.
NVDA shape after dropping NaT: (9322, 9)

Sample data for NVDA after resampling:
        Date      Open      High       Low     Close  Adj Close      Volume  \
0 1999-01-22  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
1 1999-01-23  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
2 1999-01-24  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
3 1999-01-25  0.044271  0.045833  0.041016  0.045313   0.041562   510480000
4 1999-01-26  0.045833  0.046745  0.041146  0.041797   0.038337   343200000

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
Columns in TSLA before conversion: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']

Sample 'Date' values before conversion for TSLA:
0   2010-06-29
1   2010-06-30
2   2010-07-01
3   2010-07-02
4   2010-07-03
Name: Date, dtype: datetime64[ns]

Sample 'Date' values after conversion for TSLA:
0   2010-06-29
1   2010-06-30
2   2010-07-01
3   2010-07-02
4   2010-07-03
Name: Date, dtype: datetime64[ns]
TSLA has 0 invalid dates (NaT) after conversion.
TSLA shape after dropping NaT: (5146, 9)

Sample data for TSLA after resampling:
        Date      Open      High       Low     Close  Adj Close     Volume  \
0 2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1 2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2 2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
4 2010-07-03  1.533333  1.540000  1.247333  1.280000   1.280000   77097000

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

### Sentiment Analysis

Define a function to analyze the sentiment of news headlines and apply it to create a new column with scores.

In [39]:
from textblob import TextBlob

def analyze_sentiment(headline):
    """Analyze sentiment of a headline and return the polarity score."""
    return TextBlob(headline).sentiment.polarity

# Apply sentiment analysis to news headlines
try:
    news_df['sentiment'] = news_df['headline'].apply(analyze_sentiment)
except Exception as e:
    print(f"Error during sentiment analysis: {e}")

### Calculate Daily Stock Returns

Compute the daily percentage change in stock prices to represent movements.

In [40]:
try:
    for ticker in stock_data:
        stock_data[ticker]['daily_return'] = stock_data[ticker]['Close'].pct_change()  # Calculate daily returns
except Exception as e:
    print(f"Error calculating daily returns: {e}")

### Correlation Analysis

Aggregate daily sentiment scores by averaging them and merge sentiment data with stock data to calculate the Pearson correlation coefficient.

In [43]:
news_df['date'] = pd.to_datetime(news_df['date'], errors='coerce')
news_df = news_df.dropna(subset=['date'])
news_df.rename(columns={'date': 'Date'}, inplace=True)

In [44]:
for ticker in stock_data:
    stock_data[ticker]['Date'] = pd.to_datetime(stock_data[ticker]['Date'], errors='coerce')
    stock_data[ticker] = stock_data[ticker].dropna(subset=['Date'])
    stock_data[ticker] = stock_data[ticker].set_index('Date').resample('D').ffill().reset_index()

In [45]:
daily_sentiment = news_df.groupby('Date')['sentiment'].mean().reset_index()

In [48]:
# For news_df / daily_sentiment
daily_sentiment['Date'] = daily_sentiment['Date'].dt.tz_localize(None)

# For stock_data (example for AAPL)
stock_data['AAPL']['Date'] = stock_data['AAPL']['Date'].dt.tz_localize(None)

In [49]:
try:
    combined_df = pd.merge(stock_data['AAPL'], daily_sentiment, on='Date', how='inner')
    correlation = combined_df['sentiment'].corr(combined_df['daily_return'])
    print(f"Pearson correlation coefficient for AAPL: {correlation}")
except Exception as e:
    print(f"Error calculating correlation: {e}")

Pearson correlation coefficient for AAPL: nan

c:\Users\metya\anaconda3\envs\financial_analysis\Lib\site-packages\numpy\lib\_function_base_impl.py:3037: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Users\metya\anaconda3\envs\financial_analysis\Lib\site-packages\numpy\lib\_function_base_impl.py:2894: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
c:\Users\metya\anaconda3\envs\financial_analysis\Lib\site-packages\numpy\lib\_function_base_impl.py:2894: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)